body{
	padding:0px;
	margin:0px;
}
#header{
	background:url("../images/header.png") repeat-x 0px 0px;
	display:block;
	width:100%;
	position:fixed;
	height:50px;
	
}
#content{
	background:url("../images/bg_left.png") repeat-y  0px 21px;
	height:100%;
	width:100%;
	z-index:100;
}

#content .inner{
	background:url("../images/bg.png") repeat 50px 21px;	
	width:100%;
	height:100%;
	margin-left:50px;
}
.inner div {
	padding-top:50px;
}
#textinput{
	background:transparent;
	border:0px solid black;
	padding:-5px 20px 2px 0px;
	margin:0px;
	font-size:22px;
	line-height:48.5px;
	white-space: pre-wrap;
}
